//colors
$white: #fff;
$color_black_haze_approx: #f7f7f7;

body {
	min-height: 75rem;
}
.navbar {
	margin-bottom: 0;
}
.jumbotron {
	padding-top: 6rem;
	padding-bottom: 6rem;
	margin-bottom: 0;
	background-color: $white;
	.container {
		max-width: 40rem;
	}
	p:last-child {
		margin-bottom: 0;
	}
}
.jumbotron-heading {
	font-weight: 300;
}
.album {
	min-height: 50rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: $color_black_haze_approx;
}
.card {
	float: left;
	width: 33.333%;
	padding: .75rem;
	margin-bottom: 2rem;
	border: 0;
	> img {
		margin-bottom: .75rem;
	}
  > a {
    text-decoration: none;
  }
}
.card-text {
	font-size: 85%;
}
footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
	p {
		margin-bottom: .25rem;
	}
}
.movie-details {

  .title {
    font-weight: bold;
  }

  .casts {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .synopsis {
    margin-top: 20px;
  }

}